<h1 align="center">Tabla de multiplicación del grupo de permutaciones P(3)</h1>
<div align="right">David A. Miranda, PhD<br>2021</div>

## 1. Importar librerías

In [1]:
import numpy as np
import pandas as pd

## 2. Planteamiento del problema

Obtener la tabla de multiplicación para el grupo de permutaciones P(3), formado por elementos $g_k = (p_1, p_2, p_3)$, donde $p_i$ puede tomar los valores entre $1$ y $3$. El producto entre dos elemetos del grupo de permutaciones está dado por:

$$g_k g_{k'} = (p_1, p_2, p_3)(p'_1, p'_2, p'_3)$$
$$g_k g_{k'} = (p'_{p_1}, p'_{p_2}, p'_{p_3})$$

Donde $p'_{p_1}$ es valor en el índice $p_1$ del elemento $g_{k'}$ del grupo.

## 3. Definiciones y Métodos

In [2]:
P3 = {
    'g1': [1,2,3],
    'g2': [2,3,1],
    'g3': [3,1,2],
    'g4': [2,1,3],
    'g5': [1,3,2],
    'g6': [3,2,1]
}
P3

{'g1': [1, 2, 3],
 'g2': [2, 3, 1],
 'g3': [3, 1, 2],
 'g4': [2, 1, 3],
 'g5': [1, 3, 2],
 'g6': [3, 2, 1]}

In [3]:
def prod(gi, gj, group):
    """ 
    prod(gi, gj, group) retorna el producto de los elementos etiquetados como 
    gi y gj para el grupo group.  Tanto gi como gj corresponden a etiquetas (string)
    y group es un diccionario de Python con los listas numéricas que representan
    elementos del grupo de permutación.
    """
    g3 = []
    if type(gi) != type('String') or type(gj) != type('String') :
        print('¡Error! Los elementos del grupo deben ser tipo string.')
        return g3
    if type(group) != type({}):
        print('¡Error! El grupo de permutaciones debe estar almacenado en un diccionario de Python.')
        return g3
    if not gi in group.keys():
        print('¡Error! %s no es un elemento del grupo.' % gi)
        return g3
    if not gj in group.keys():
        print('¡Error! %s no es un elemento del grupo.' % gj)
        return g3
    g1 = group[gi]
    g2 = group[gj]
    if len(g1) != len(g2):
        print('¡Error! Los elementos del grupo deben tener el mismo tamaño. len(gi)=%d, len(gj)=%d' % (len(gi), len(gj)))
        return g3
    g3 = [g2[i-1] for i in g1]
    return g3

In [4]:
def get_element_name(g, group):
    """
    get_element_name(g) retorna la etiqueta (string) del elemento g (lista)
    del grupo group.
    """
    for name, element in group.items():
        if g == element:
            return name 
    print('¡Advertencia! El elemento no pertenece al grupo.')
    return None

## 4. Tabla de multiplicación

### 4.1. Multiplicación de dos elementos del grupo

In [5]:
gi_name = 'g2'
gj_name = 'g5'
gk = prod(gi_name, gj_name, P3)
gk_name = get_element_name(gk, P3)
print('%s %s = %s' % (gi_name, gj_name, gk_name))

g2 g5 = g6

In [6]:
group = P3
elem_names = list(group.keys())
names  = pd.DataFrame(columns=elem_names, index=elem_names)
values = pd.DataFrame(columns=elem_names, index=elem_names)
for gi in group.keys():
    for gj in group.keys():
        gk_val = prod(gi, gj, group)
        gk = get_element_name(gk_val, group)
        names.loc[gi, gj] = gk
        values.loc[gi, gj] = gk_val

In [7]:
group

{'g1': [1, 2, 3],
 'g2': [2, 3, 1],
 'g3': [3, 1, 2],
 'g4': [2, 1, 3],
 'g5': [1, 3, 2],
 'g6': [3, 2, 1]}

In [8]:
names

    g1  g2  g3  g4  g5  g6
g1  g1  g2  g3  g4  g5  g6
g2  g2  g3  g1  g5  g6  g4
g3  g3  g1  g2  g6  g4  g5
g4  g4  g6  g5  g1  g3  g2
g5  g5  g4  g6  g2  g1  g3
g6  g6  g5  g4  g3  g2  g1

In [9]:
values

           g1         g2         g3         g4         g5         g6
g1  [1, 2, 3]  [2, 3, 1]  [3, 1, 2]  [2, 1, 3]  [1, 3, 2]  [3, 2, 1]
g2  [2, 3, 1]  [3, 1, 2]  [1, 2, 3]  [1, 3, 2]  [3, 2, 1]  [2, 1, 3]
g3  [3, 1, 2]  [1, 2, 3]  [2, 3, 1]  [3, 2, 1]  [2, 1, 3]  [1, 3, 2]
g4  [2, 1, 3]  [3, 2, 1]  [1, 3, 2]  [1, 2, 3]  [3, 1, 2]  [2, 3, 1]
g5  [1, 3, 2]  [2, 1, 3]  [3, 2, 1]  [2, 3, 1]  [1, 2, 3]  [3, 1, 2]
g6  [3, 2, 1]  [1, 3, 2]  [2, 1, 3]  [3, 1, 2]  [2, 3, 1]  [1, 2, 3]

End!